<ion-view view-title="Forgot Password">
  <ion-header-bar class="bar-royal">
    <h1 class="title">Forgot Password</h1>
    <button class="button button-clear" style="color: red; margin-left: 3px; padding-bottom: 10px; text-transform: none; max-width: 70px; min-width: 70px; font-size: 14pt" ng-click="closeModal()">Cancel</button>
  </ion-header-bar>
  <ion-content>
    <form novalidate ng-submit="doForgotPassword(email)" class="md-padding">
            <div class="list" style="margin: 0px 10px 0px 10px">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" ng-model="email"  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
                </label>
                <button class="button button-royal button-block button-raised" data-ink-color="#0288D1" style="margin-top: 20px" data-ink-opacity=".8" type="submit">
                    Send
                </button>
            </div>
        </form>
  </ion-content>
</ion-view>
